@media (max-width:768px) {
    .fullpage-section>.swiper-wrapper {
        height: 100% !important;
    }

    .fullpage-section>.swiper-wrapper>.swiper-slide {
        height: auto;
    }

    ._buttons {
        gap: 10px
    }

    ._buttons ._detail-link {
        font-size: 36px;
    }

    ._buttons ._detail-link:before {
        height: 12px;
        width: 120px
    }

    .nav-side {
        display: none
    }

    section.area {
        min-height: auto;
        transform: none !important
    }

    section.area .area__content>:not(.layout-escape) {
        max-width: 572px;
        padding-left: 16px;
        padding-right: 16px
    }

    section.area .area__content {
        justify-content: flex-start;
        padding-bottom: 80px;
        padding-top: 35px;
    }

    section.area .area__content .area__content__wrap {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        width: 100%
    }

    section.section--hero .area__visual ._dimmed {
        animation: bg-bound 8s cubic-bezier(.37, 0, .63, 1) infinite alternate;
        background-image: url(../img/mo/s1_bg_m.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover
    }

    section.section--hero .area__content>:not(.layout-escape) {
        max-width: 572px;
        padding-left: 16px;
        padding-right: 16px
    }

    section.section--hero .area__content {
        height: var(--maxvh-without-navtop);
        min-height: 600px;
        padding-bottom: 0;
        padding-top: 0
    }

    section.section--hero .area__content .area__content__wrap {
        min-height: inherit;
    }

    section.section--hero .area__content ._header ._title {
        margin-top: 25px;
        transform: translateZ(0);
        width: 300.5px;
        height: 182px;
        background-image: url(../img/mo/s1_title_m.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }

    section.section--hero .area__content ._header ._period {
        background-image: url(../img/mo/s1_period_m.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        width: 300.5px;
        height: 34px;
        margin-top: 18px;
    }

    section.section--hero .area__content ._content {
        justify-content: center;
    }

    section.section--hero .area__content ._content ._item {
        display: none;
        width: 327.5px;
        height: 148px;
        margin-left: 75px;
    }

    section.section--hero .area__content ._content ._video-button {
        width: 111.5px;
        height: 115.5px;
    }

    section.section--store .area__content ._header {
        margin-top: 0
    }

    section.section--store .area__content ._header ._title {
        background-image: url(../img/mo/s2_title_m.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        width: 370.125px;
        height: 57.375px;
        -webkit-text-fill-color: #0000;
    }

    section.section--store .area__content ._description {
        background-image: url(../img/mo/s2_desciption_m.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 66px;
        margin-top: 10px;
        width: 301.875px
    }

    section.section--store .area__content ._period {
        background-image: url(../img/mo/s2_period_m.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 15px;
        width: 370.125px;
        height: 57.375px;
    }

    section.section--store .area__content ._content {
        background-image: url(../img/mo/s2_content_m.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 577px;
        margin-bottom: -20px;
        margin-top: 20px;
        width: 356.5px
    }

    section.section--store .area__content ._buttons {
        margin-top: 25px
    }

    section.section--contest .area__content ._header ._title {
        background-image: url(../img/mo/s3_title_m.png);
        height: 45.75px;
        width: 334px;
    }

    section.section--contest .area__content ._header ._description {
        background-image: url(../img/mo/s3_description_m.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 45.5px;
        margin-top: 10px;
        width: 288.25px
    }

    section.section--contest .area__content ._header ._period {
        background-image: url(../img/mo/s3_period_m.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 15px;
        width: 324.5px;
        height: 31.5px;
    }

    section.section--contest .area__content ._content {
        background-image: url(../img/mo/s3_content_m.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 436.875px;
        margin-top: 30px;
        width: 371.625px;
    }
}